@media only screen and (max-width : 992px) {
    .pw_gallery_holder {
        width: 74%
    }
    .pw_category_holder {
        width: 25%;
    }
}


@media only screen and (max-width : 1200px) {
    .menu-glavnoe-menyu-container ul li {
        margin-right: 5%;
    }
}


@media only screen and (max-width : 1024px) {
    .menu-glavnoe-menyu-container ul li {
        margin-right: 3%;
    }
}


@media only screen and (max-width : 960px) {
    .menu-glavnoe-menyu-container ul li {
        margin-right: 1.6%;
    }
}


@media only screen and (max-width : 768px) {
    .pw_gallery_holder {
        width: 100%
    }
    header {
        margin-bottom: 30px;
    }
    #menu_left_trigger {
        position: absolute;
        height: 32px;
        width: 32px;
        background: url(images/menu_1.png) no-repeat;
        left: 30px;
        top: 3px;
        z-index: 1000;
        cursor: pointer;
        display: block;
    }
    .menu-glavnoe-menyu-container {
        background: #fff;
        position: relative;
        overflow: visible;
    }
    .menu-glavnoe-menyu-container ul {
        display: table;
        overflow: visible;
        z-index: 1000;
        width: 200px;
        position: absolute;
        left: 30px;
        top: 48px;
        background: #fff;
        height: 0px;
    }
    .menu-glavnoe-menyu-container ul li {
        float: none;
        border-right: 0;
        box-shadow: none;
        display: none;
        list-style: none;
        height: auto;
    }
    .menu-glavnoe-menyu-container ul li:first-child {
        margin-left: 0;
        margin-top: 38px;
    }
    .menu-glavnoe-menyu-container ul li a {
        color: #626262;
    }
    .menu-glavnoe-menyu-container ul li a:hover, .menu-glavnoe-menyu-container .current_page_item a {
        color: #101010;
        border-bottom: 1px solid #95C400;
        text-decoration: none;
    }
    .pw_category_holder {
        display: none;
        position: absolute;
        width: 200px;
        z-index: 9999;
        background: #fff;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .send-image-form{
        -webkit-order: 7;
            -ms-flex-order: 7;
                order: 7;
    }
    .pw_pic_search_holder{
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
    .pw_category_holder > .all_category_link{
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
    }
    .pw_category_holder div:nth-child(4){
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
    }
    .pw_category_holder div:nth-child(5){
        -webkit-order: 4;
            -ms-flex-order: 4;
                order: 4;
    }
    .button-cities{
        -webkit-order: 5;
            -ms-flex-order: 5;
                order: 5;
    }
    .pw_category_holder div:nth-child(7){
        -webkit-order: 6;
            -ms-flex-order: 6;
                order: 6;
    }
    .pw_color_selectors{
        -webkit-order: 8;
            -ms-flex-order: 8;
                order: 8;
    }
    .right_sidebar_holder{
        -webkit-order: 9;
            -ms-flex-order: 9;
                order: 9;
    }
}
