/*
Theme Name: PrintColor
Theme URI:
Description: Данная тема предназначена для инетрнет-магазина по продажи фотообоев. Ее строгий стиль позволяет наиболее эффективно обеспечить отдачу сайта. Тема предназначена для использования компанией PrintColor с ее последующим дополнением и расширением.
Version: 1.0
Author: Mironenko Dmitriy, Black Jake, Melnik.O.A
Author URI:
*/

@font-face {
    font-family: 'ge_inspira';
    src: url('fonts/ge_inspira/ge_inspira.eot');
    src: url('fonts/ge_inspira/ge_inspira.eot?#iefix') format('embedded-opentype'),
         url('fonts/ge_inspira/ge_inspira.woff') format('woff'),
         url('fonts/ge_inspira/ge_inspira.ttf') format('truetype'),
         url('fonts/ge_inspira/ge_inspira.svg#ge_inspira') format('svg');
    font-weight: normal;
    font-style: normal;
}
#wrapper {
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
p {
    text-align: justify;
    text-indent: 40px;
}
img {
    max-width: 100%;
}
h1 {
	color:#161616;
	text-align:center;
}
h1,h2,h3,h4,h5,h6 {
    color: #161616;
}
*:focus, a:focus, a:active, a:visited {
    outline: none;
}

#pw_main_theme{
    margin-top: 0 !important;
}

body{
    background: #fff;
    min-width: 320px;
    font-family: "ge_inspira", sans-serif;
    color: #626262;
    font-size: 15px;
}
::-webkit-input-placeholder { color: #2c120b !important; opacity: 1;}
::-moz-placeholder  { color: #2c120b !important; opacity: 1;}/* Firefox 19+ */
:-moz-placeholder  { color: #2c120b !important; opacity: 1;}/* Firefox 18- */
:-ms-input-placeholder  { color: #2c120b !important; opacity: 1;}

.pw_main_content_holder{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}




header{
    overflow: hidden;
    margin: 0;
}

.pw_we_have div{
    font-size: 21px;
    margin-left: 25px;
    font-weight: normal;
    color: #dc9581;
    text-shadow: 1px 1px 1px #060606;
}

.vk, .skype, .facebook{
    display: inline-block;
    width: 33px;
    height: 33px;
    background-position: center;
    background-size: 33px 33px;
    border-radius: 6px;
}
.vk:hover, .skype:hover, .facebook:hover {
    opacity: .7;
}
.vk{
    background-image: url(image/icons/VK.jpg);
}

.skype{
    background-image: url(image/icons/Skype.jpg);
}

.facebook{
    background-image: url(image/icons/Facebook.jpg);
}

.pw_phones{
    font-size: 21px;
    color: #dc9581;
    text-shadow: 1px 1px 1px #060606;
}
.pw_header_social{
    text-align: center;
    margin-top: 10px;
}
.pw_header_phones{
    margin-top: 10px;
}
.menu-glavnoe-menyu-container {
    background: #ff8c01;
    width: 100%;
    overflow: hidden;
    height: 45px;
    box-shadow: 0 11px 13px -19px #000;
    margin-bottom: 20px;
    z-index: 1000;
}

.menu-glavnoe-menyu-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-glavnoe-menyu-container ul{
    height: 100%;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.menu-glavnoe-menyu-container ul li {
    display: inline-block;
    margin-right: 6%;
    text-align: center;
}
.menu-glavnoe-menyu-container ul li a {
    color: white;
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 44px;
    border-bottom: 1px solid transparent;
}
.menu-glavnoe-menyu-container ul li a:hover, .menu-glavnoe-menyu-container .current_page_item a {
    text-decoration: underline;
}
.menu-glavnoe-menyu-container ul li:last-child{
    border: 0 none;
    box-shadow: 0 0 0;
    padding-right: 0;
    margin-right: 0;
}
.breadcrumbs {
    padding: 0 10px;
    text-align: left;
}
.breadcrumbs a {
    color: #a0a0a0;
}
.breadcrumbs .current {
    color: #FF7E00;
}
.pw_search_holder{
    float: right;
    margin-right: 16px;
    margin-top: 7px;
    overflow: hidden;
}

.pw_search_holder form{
    border: 1px solid #3d1c13;
    box-shadow: 1px 1px 1px #000 inset;
    padding: 0 7px;
}

.pw_search_holder input[type="submit"]{
    width: 25px;
    height: 25px;
    background: url(image/icons/search.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
}

.pw_search_holder input[type="text"]{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #dc9581;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000;
    width: 200px;
}



.pw_go_to_gallery{
    margin-top: 20px;
    position: relative;
}

.pw_go_to_gallery>a{
    color: #f3edc9;
    display: inline-block;
    font-size: 21px;
    margin-top: 11px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}




.pw_content_wraper{
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 100;
    min-height: 880px;
}

.pw_category_holder{
    width: 19%;
    float: left;
    flex-wrap: wrap;
}

.pw_gallery_holder{
    width: 80%;
    float: right;
    overflow: hidden;
    padding: 0 15px;
}

.pw_pic_search_holder{
    overflow: hidden;
}

.pw_pic_search_holder form{
    border: 1px solid #DCDCDC;
    border-radius: 0px;
    margin: 10px auto;
    padding: 2px 2px 2px 14px;
    overflow: hidden;
}
.pw_pic_search_holder form fieldset {
    position: relative;
    border: none;
}
.pw_pic_search_holder input[type="submit"]{
    width: 20%;
    height: 100%;
    position: absolute;
    background: url(image/icons/search.png) #FF7E00;
    background-position: center;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    right: 0;
    top: 0;
}

.pw_pic_search_holder input[type="text"]{
    width: 80%;
    border: 0 none;
    background: none;
    font-size: 15px;
    color: #000;
    float: left;
    padding: 7px 0 7px 0px;
}

.pw_names{
    color: #f3edc9;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    width: 100%;
}

.pw_color_selectors{
    color: #020202;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.pw_color_holder{
    margin: 10px auto;
    overflow: hidden;
    height: 65px;
}

div[class^="pw_color_row_"]{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

div[class^="pw_color_row_"] a{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all 0.3s ease-out 0s;
}
.pw_color_row_1 a:nth-child(1){
    background-color: #f60f08;
}

.pw_color_row_1 a:nth-child(2){
    background-color: #ff8300;
}

.pw_color_row_1 a:nth-child(3){
    background-color: #fff000;
}

.pw_color_row_1 a:nth-child(4){
    background-color: #1ce326;
}

.pw_color_row_1 a:nth-child(5){
    background-color: #0beed4;
}

.pw_color_row_1 a:nth-child(6){
    background-color: #0279ff;
}

.pw_color_row_2 a:nth-child(1){
    background-color: #990cfb;
}

.pw_color_row_2 a:nth-child(2){
    background-color: #ff007a;
}

.pw_color_row_2 a:nth-child(3){
    background-color: #a4620c;
}

.pw_color_row_2 a:nth-child(4){
    background-color: #b9b9b9;
}

.pw_color_row_2 a:nth-child(5){
    background-color: #000;
}

.pw_color_row_2 a:nth-child(6){
    background-color: #fff;
    border: 1px solid #b9b9b9;
}

.sk_category_name{
    color: #020202;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}



.sk_cat_holder ul{
    list-style: none;
    position: relative;
}

.pw_category_holder .sk_cat_holder ul li a{
    text-align: left;
    display: block;
    margin: 0px 11px 0 3px;
    padding: 5px 0 5px 20px;
    color: #626262;
    text-decoration: none;
    position: relative;
}
.pw_category_holder .sk_cat_holder ul li a:before {
    content: "";
    position: absolute;
    left: 6px;
    width: 6px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    background: url(images/arrow_cat.png) no-repeat;
}
.pw_category_holder .sk_cat_holder ul li a:after {
    content: "";
    position: absolute;
    right: -11px;
    width: 12px;
    height: 100%;
    top: 0;
    background: url(images/arrow_cat_tr.png) no-repeat;
    display: none;
    background-size: 100% 100%;
}
.pw_category_holder .sk_cat_holder ul li:hover a:after,.pw_category_holder .sk_cat_holder ul li.current-menu-item a:after, .pw_category_holder .sk_cat_holder ul li.current-category-ancestor a:after {
    display: block;
}
.pw_category_holder .sk_cat_holder ul li{
    padding: 0;
    position: relative;
}

.pw_category_holder .sk_cat_holder ul li:hover a,.pw_category_holder .sk_cat_holder ul li.current-menu-item a, .pw_category_holder .sk_cat_holder ul li.current-category-ancestor a {
    background-color: #ebf4bd;
    box-shadow: -5px 0px 9px -8px #000;
    color: #90ac04;
}

.pw_category_holder .pw_subcat_holder{
    width: 100%;
    margin: 20px 0 10px;
}

.pw_subcat_holder ul{
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.pw_subcat_holder ul li{
    background-color: #ffd8bf;
    border: 1px solid #3a1a0f;
    display: block;
    float: left;
    height: 40px;
    margin: 2px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 176px;
}

.pw_subcat_holder ul li a{
    color: #280f08;
    display: inline-block;
    font-size: 18px;
    height: 76%;
    overflow: hidden;
    padding-top: 8px;
    text-decoration: none;
    width: 100%;
}

.pw_subcat_holder ul li:hover{
    background-color: #411D12;
}

.pw_subcat_holder ul li:hover a{
    color: #d38c75;
    text-shadow: 1px 1px 1px #000;
}

#pw_main_pictures{
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}


.pw_pict_name_text {
    color: #280f08;
    font-size: 19px;
    line-height: 1;
    padding-left: 20px;
    text-align: left;
}

.pw_pict_numb_text{
    color: #807474;
    font-size: 15px;
    margin: 2px 0;
    padding-left: 20px;
    text-align: left;
}


.clear{
    clear: both;
}




/*new footer*/
footer {
    position: relative;
    z-index: 999;
    padding: 20px 0;
    font-size: 14px;
}


.bg_holder_top {
    background: #F7F7F6;
    border-top: 3px solid #95C400;
    border-bottom: 1px solid #DCDCDC;
    position: relative;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.bg_holder_top:before {
    content: "";
    position: absolute;
    background: #F7F7F6;
    border-top: 3px solid #95C400;
    border-bottom: 1px solid #DCDCDC;
    height: 100%;
    left: -100%;
    width: 100%;
    top: -3px;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.bg_holder_top:after {
    content: "";
    position: absolute;
    background: #F7F7F6;
    border-top: 3px solid #95C400;
    border-bottom: 1px solid #DCDCDC;
    height: 100%;
    right: -100%;
    width: 100%;
    top: -3px;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}



.row_top {
    overflow: hidden;
}
.row_top a {
    color: #626262;
    text-decoration: none;
}
.row_top a:hover {
    color: #90ac04;
    text-decoration: underline;
}
.row_top ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.row_top ul li {
    margin: 5px 0;
}
.row_top .contacts_holder i {
    margin-right: 10px;
}

.left_col_holder {
    width: 50%;
    float: left;
    padding-left: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.right_col_holder {
    width: 50%;
    float: right;
    padding-left: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.bg_holder_bottom {
    padding: 15px 0 0;
    overflow: hidden;
    color: #afb0ab;
}
.row_bottom .soc_bottom_block ul {
    list-style-type: none;
}
.row_bottom .soc_bottom_block ul li {
    float: left;
    margin: 0 5px;
}
.row_bottom .soc_bottom_block ul li a {
    color: #afb0ab;
    font-size: 18px;
}
.row_bottom .soc_bottom_block ul li a:hover {
    color: #90ac04;
    text-decoration: none;
}

/*end footer*/




/*---------------------------------------------------------------ACTIVITY-------------------------------------------------*/

#pw_main_select{
    background-color: #2a110a;
    box-shadow: 1px 1px 1px #000;
}

#pw_main_select a{
    color: #d38c75;
    text-shadow: 1px 1px 1px #000;
}

#pw_sub_select{
    background-color: #411d12;
}

#pw_sub_select a{
    color: #d38c75;
    text-shadow: 1px 1px 1px #000;
}
















.pw_main_wrapper{
    width: 100%;
}

.pw_main_holder{
    width: 80%;
    margin: 130px auto 0;
    background-color: #f4edca;
    height: 1200px;
    box-shadow: 0 0 9px -3px  #000;
    background-image: url(image/bkg2.gif);
    background-repeat: repeat;
}

.pw_main_menu_wrapper{
    width: 100%;
    height: 60px;
    background-image: url(image/bkg.gif);
    background-repeat: repeat;
    overflow: hidden;
}

.pw_main_menu{
    height: 70%;
    padding-top: 16px;
    width: 80%;
    float: left;
}

.pw_main_menu li{
    border-right: 1px solid #000;
    box-shadow: 3px 0 1px -2px #b56e55;
    display: inline-block;
    font-size: 20px;
    height: 70%;
    text-align: center;
    text-shadow: 1px 0 1px #d89178;
    width: 14%;
}

.pw_main_menu li a{
    color: #1d0902;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    width: 91%;
    transition: all 0.3s ease-out 0s;
}

.pw_main_menu li:hover a{
    background-color: rgba(58, 26, 15, 0.35);
    color: #cacaca;
    text-shadow: 1px 1px 1px #000;
}

.pw_main_search_holder{
    float: right;
}

.pw_main_search_holder form input{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #3d180c;
    font-size: 20px;
    margin-right: 11px;
    margin-top: 13px;
    padding: 4px;
    text-shadow: 1px 0 1px #d89178;
    width: 250px;
    transition: all 0.3s ease-out 0s;
    box-shadow: 2px 2px 5px #3d180c inset;
}

.pw_main_search_holder form input:focus{
    background: rgba(256,256,256,0.1);
}





.pw_const_button_holder{
    width: 44%;
    float: right;
}
.pw_const_button_holder .pw_const_razm_holder {
    display: table;
    margin: 0 auto;
}
.pw_const_button_holder h3{
    color: #964b00;
    margin: 10px 0 8px;
    text-align: center;
    text-transform: uppercase;
/*    width: 90%;*/
    font-size: 16px;
}

.pw_razmer_header{
    margin-top: 20px !important;
}

.pw_const_button_holder h4{
    color: #3d1810;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
}

.pw_const_button_holder .pw_const_razm_holder table{
    margin: 0 auto;
}

.pw_const_button_holder .pw_const_razm_holder table td{
    font-size: 14px;
}
/*.pw_const_button_holder .pw_const_razm_holder table td:first-child {
    width: 27%;
}*/

.pw_const_button_holder .pw_const_razm_holder table input{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #a05d17;
    box-shadow: 1px 1px 1px #3d180c inset;
    font-size: 18px;
    margin: 1px 0;
    padding: 0;
    transition: all 0.3s ease-out 0s;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    color: #964B00;
}
.pw_const_material_holder {
    position: relative;
}
.pw_const_material_holder, .pw_const_printtype_holder{
    width: 100%;
}

.pw_const_material_holder table{
    font-size: 18px;
    padding-left: 13px;
    width: 100%;
}

.pw_const_printtype_holder table{
    font-size: 18px;
    margin: 0 auto;
 }

.pw_const_material_holder input, .pw_const_printtype_holder input{
    display: none;
}

.pw_const_material_holder label, .pw_const_printtype_holder label{
/*    display: inline-block;
    width: 20px;
    height: 20px;*/
    cursor: pointer;
    background: url(image/icons/radio.png) no-repeat;
    background-size: 20px 40px;
    background-position: 0 0;
    position: relative;
}

.pw_const_material_holder span, .pw_const_printtype_holder span{
    display: inline-block;
    margin-left: 23px;
    font-size: 17px;
}

.pw_const_material_holder input[type="radio"]:checked+label, .pw_const_printtype_holder input[type="radio"]:checked+label{
    background-position: 0 -20px;
}

.pw_vinil_holder, .pw_paper_holder, .pw_flizelin_holder{
    width: 100%;
    height: 0;
    transition: all 0.7s ease-out 0s;
    overflow: hidden;
}

.pw_vinil_holder table, .pw_paper_holder table, .pw_flizelin_holder table{
    font-size: 13px;
    padding-left: 20px;
    width: 100%;
}

.pw_vinil_holder table label, .pw_paper_holder table label, .pw_flizelin_holder table label{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(image/icons/radio.png);
    background-size: 100%;
    background-position: 0 0;
}

.pw_vinil_holder input, .pw_paper_holder input, .pw_flizelin_holder input{
    display: none;
}

.pw_vinil_holder input[type="radio"]:checked+label, .pw_paper_holder input[type="radio"]:checked+label, .pw_flizelin_holder input[type="radio"]:checked+label{
    background-position: 0 -20px;
}

.pw_vinil_holder tr td:nth-child(1), .pw_vinil_holder tr td:nth-child(3), .pw_paper_holder tr td:nth-child(1), .pw_flizelin_holder tr td:nth-child(1){
    width: 25px;
}

.pw_vinil_holder tr td:nth-child(2) {
    width: 55%;
}

hr{
    border-bottom: 1px solid #DCDCDC;
    color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 90%;
}

.pw_vinil_holder td, .pw_paper_holder td, .pw_flizelin_holder td{
    position: relative;
}

.pw_vinil_holder table tr td span, .pw_paper_holder table tr td span, .pw_flizelin_holder table tr td span{
    cursor: pointer;
}


.pw_vinil_holder span[id$='_pict'], .pw_paper_holder span[id$='_pict'], .pw_flizelin_holder span[id$='_pict']{
    display: inline-block;
    height: 100px;
    left: -22px;
    position: absolute;
    top: -100px;
    width: 0;
    border-radius: 4%;
    box-shadow: 0 0 8px 1px;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    /*border: 2px solid #a05d17;*/
}

.pw_const_printtype_holder table tr td:first-child{
    padding: 0 10px 0 0;
}

#venetia_pict{
    background-image: url(image/materials/venecia.jpg);
}

#decor_pict{
    background-image: url(image/materials/decor.jpg);
}

#jivopis_pict{
    background-image: url(image/materials/jivopis.jpg);
}

#inej_pict{
    background-image: url(image/materials/inej.jpg);
}

#kamen_pict{
    background-image: url(image/materials/kamen.jpg);
}

#koja_pict{
    background-image: url(image/materials/koja.jpg);
}

#kora_pict{
    background-image: url(image/materials/kora.jpg);
}

#melkij_len_pict{
    background-image: url(image/materials/melkij_len.jpg);
}

#pesok_pict{
    background-image: url(image/materials/pesok.jpg);
}

#solomka_pict{
    background-image: url(image/materials/solomka.jpg);
}

#freska_pict{
    background-image: url(image/materials/freska.jpg);
}

#holst_pict{
    background-image: url(image/materials/holst.jpg);
}

#pil_pict{
    background-image: url(image/materials/pil.jpg);
}

#krujevo_pict{
    background-image: url(image/materials/krujevo.jpg);
}

#korzina_pict{
    background-image: url(image/materials/korzina.jpg);
}

#glanec_pict{
    background-color: #fff;
}

#aqua_pict{
    background-color: #fff;
}

#losk_pict{
    background-color: #fff;
}



.pw_image_holder{
    margin: 5px auto 0;
    text-align: center;
    width: 50%;
    position: relative;
    display: inline-block;
    margin-left: 0;
    transition: all 1s ease-out 0s;
}

.pw_image_holder img{
    width: auto;
}

#target{
    max-height: 450px;
    max-width: 685px;
}

#pw_image_wrapper_holder{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 13px #000 inset;
}
#crop_body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.jcrop-holder{
    margin: 0 auto;
    border: 3px solid #4c2116;
}

.jcrop-handle{
    opacity: 1 !important;
    background-color: #F3EDC9 !important;
    border: 2px solid #4c2116 !important;
    box-shadow: 2px 2px 1px #000 !important;
    height: 10px !important;
    width: 10px !important;
}


.clear{
    clear: both;
}

.pw_main_info_holder{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    min-height: 728px;
    padding-top: 15px;
}

.pw_main_info_holder h3{
    color: #3d1810;
    margin: 12px 0;
    text-align: center;
    text-shadow: 1px 0 1px #b97259;
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
}




.info_holder{
    width: 50%;
    float: left;
}



.info_holder table{
    margin: 0 auto;
    width: 90%;
}



.all_info_holder input[type="text"]:focus{
/*    border: 2px solid #F3EDC9;*/
    box-shadow: 0px 0px 5px #3d180c inset;
}

.info_holder table tr td:nth-child(odd){
    width: 15%;
}

.info_holder table tr td:nth-child(even){
    width: 50%;
    text-align: right;
}

.info_holder input[type="submit"]{
    background-color: #5c210d;
    border: 2px solid #5c210d;
    color: #f3edc9;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
    border-radius: 7px;
}
.info_holder input[type="submit"]:hover{
    border: 2px solid #5c210d;
    background-color: #f3edc9;
    color: #5c210d;
}



#zakaz_body{
    background-position: center -25%, center 105%, center center;
}

.not_found{
    width: 100%;
    text-align: center;
}

.page_main_header{
    color: #161616;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 27px auto 20px;
}


.pw_content_wraper h3{
    color: #161616;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 15px;
}
.slideshow-wrapper{
    height: 500px !important;
    margin: 25px auto !important;
    width: 500px !important;
}

.slideshow-fullsize{
    height: 500px !important;
    width: 500px !important;
}

.pw_material_textures{
    width: 98%;
    margin: 0 auto;
    min-height: 5333px;
}


.pw_material_textures h4{
    font-size: 24px;
    color: #38190E;
    margin-top: 20px;
}

.pw_material_textures h3{
    color: #38190E;
    
}

.pw_material_textures p{
    text-indent: 0px;
}

#pw_how_order{
    background-image: url(image/icons/icon_Order.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 138px;
    margin: 0 auto;
    width: 150px;
}

#pw_how_pay{
    background-image: url(image/icons/icon_Pay.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
    margin: 0 auto;
    width: 140px;
}

#pw_how_take{
    background-image: url(image/icons/icon_Take.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    height: 140px;
    margin: 0 auto;
    width: 140px;
}


.pw_how_it tr td:nth-child(1){
    width: 140px;
}






.pw_gallery_holder ol, .pw_gallery_holder ul{
    list-style-position: inside;
    text-indent: 40px;
}






.address_main_holder{
    margin: 0 auto 35px;
    overflow: hidden;
    width: 98%;
} 

.address_main_holder  .map_holder{
    border: 11px solid #5c210d;
    box-shadow: 2px 0 17px #000;
    float: left;
    width: 65%;
}

.address_main_holder .address_holder{
    float: right;
    height: 450px;
    padding-right: 35px;
    width: 27%;
}

.address_holder h3{
    color: #5c210d;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 13px;
}

.address_holder table{
    color: #989898;
    font-size: 20px;
    width: 100%;
    margin-top: 35px;
}

.address_holder table td:first-child span{
    background-position: center center;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 30px;
    margin: 15px 5px 15px 0;
    width: 30px;
}

.address_holder table td:last-child a{
    text-decoration: none;
    color: #989898;
    transition: color 0.3s ease-out 0s;
}

.address_holder table td:last-child a:hover{
    color: #5C210D;
}

.address_holder table tr:nth-child(1) td:first-child span{
    background-image: url(image/contacts_ico/geo.png);
}

.address_holder table tr:nth-child(2) td:first-child span{
    background-image: url(image/contacts_ico/phone.png);
}

.address_holder table tr:nth-child(3) td:first-child span{
    background-image: url(image/contacts_ico/skipe.png);
}

.address_holder table tr:nth-child(4) td:first-child span{
    background-image: url(image/contacts_ico/mail.png);
}

.address_holder table tr:nth-child(5) td:first-child span{
    background-image: url(image/contacts_ico/day.png);
}

.address_holder table tr:nth-child(6) td:first-child span{
    background-image: url(image/contacts_ico/time.png);
}






/*-------------------------404--------------------*/
.error404 {
    padding-bottom: 20px;
}




#info_holder {
    height: 100%;
    color: #5c210d;
}
#info_holder h3 {
    margin-bottom: 30px;
}
#info_holder input[type="submit"] {
    background: #5c210d;
    color: #F3EDC9;
    border: 2px solid #5c210d;
}
#info_holder input[type="submit"]:hover {
    background: #F3EDC9;
    color: #5c210d;
    border: 2px solid #5c210d;
}
#zayavka_na_poisk {
    width: 100%;
}



/*---------------------Right sidebar-----------------------*/
.pw_right_sidebar {
    display: none;
}


/*---------------------------Новая шапка-------------------------*/


.back_to_home {
    color: #5c210d;
    font-size: 21px;
    margin-top: 48px;
    margin-bottom: 50px;
    text-align: center;
}
.back_to_home a {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(58, 26, 15, 1) 0%, rgba(42, 17, 10, 1) 100%) repeat scroll 0 0;
    box-shadow: 2px 2px 4px #000;
    color: #c7806c;
    font-size: 19px;
    padding: 10px 50px;
    text-decoration: none;
}




.podbor_oboev {
    overflow: hidden;
    width: 100%;
}
.podbor_oboev li {
    width: 19%;
    float: left;
    list-style: none;
    margin: 1% 1% 0 0;
}
.podbor_oboev li:last-child {
    margin-right: 0;
}
.podbor_oboev li img{
    display: block;
    height: auto;
    width: 100%;
}
#city_left {
    float: left;
    width: 20%;
    margin-top: 10px;
    padding-left: 45px;
}
#city_centr {
    float: left;
    width: 20%;
    margin-top: 10px;
}
#city_right {
    float: left;
    width: 20%;
    margin-top: 10px;
}
#city_left a, #city_right a, #city_centr a {
    color: #000;
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;
}
#city_left a:hover, #city_right a:hover, #city_centr a:hover {
    text-decoration: underline;
}

.nova-holder {
/*    float: right;
    padding: 70px 80px 0 0;*/
}
#go_to_nova{
    display: block;
    margin: 10px auto 15px auto;
    height: 40px;
    width: 214px;
}
#go_to_nova a {
    display: block;
    height: 100%;
    width: 100%;
    background: url(image/icons/logo-nova.png) no-repeat;
    background-size: cover;

   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;

}
#vk_groups {
    margin: 0 auto;
    padding: 10px 0px;
}
#info_holder input[type="file"] {
    background: #5c210d;
    color: #F3EDC9;
    border: 2px solid #5c210d;
}
#info_holder input[type="file"]:hover {
    background: #F3EDC9;
    color: #5c210d;
    border: 2px solid #5c210d;
}
.info_holder input[type="file"]{
    background-color: #5c210d;
    border: 2px solid #5c210d;
    color: #f3edc9;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
    border-radius: 7px;
}
#requirements {
    text-align: left;
    display: inline-block;
}
.site_map ul {
    list-style: none;
}
.site_map ul a {
    text-decoration: none;
    color: #280f08;
}
.site_map ul a:hover {
    text-decoration: underline;
}
.site_map .box-1 {
    width: 50%;
    float: left;
}
.site_map .box-2 {
    width: 50%;
    float: right;
}
.tags_cloud {
    margin: 0 auto 20px auto;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

.pw_main_content_holder {
    position: relative;
}
#menu_trigger {
    display: none;
}
#menu_left_trigger {
    display: none;
}
.info_holder {
    position: relative;
}
#order_info_cloud {
    position: absolute;
    font-size: 19px;
    width: 181px;
    height: 52px;
    background: #9E0C0C;
    color: #F3EDC9;
    right: 30px;
    bottom: 80px;
    display: none;
    z-index: 1000;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}


.skinali_result {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 40px;
    background: url(image/bkg3.gif), url(image/bkg3.gif);
    border: 1px solid #191919;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px #000 inset;
    margin: 40px 0;
}
.skinali_before {
    background: url(image/oboi_before.jpg);
    float: left;
    width: 39%;
    height: 250px;
    background-size: cover;
    position: relative;
    box-shadow: inset 1px 1px 7px #000;
}
.skinali_before:after {
    position: absolute;
    content: "";
    background: url(image/arrow.png) no-repeat;
    background-size: cover;
    width: 55px;
    height: 77px;
    top: 36%;
    right: -144px;

}
.skinali_after {
    background: url(image/oboi_after.jpg);
    float: right;
    width: 39%;
    height: 250px;
    background-size: cover;
    box-shadow: inset 1px 1px 7px #000;
}
/*.accent {
    font-size: 14pt;
    color: #5c210d !important;
    font-weight: bold;
    text-decoration: none;
}*/

.social_holder {
    clear: both;
    height: 45px;
}



.alignleft {
float:left;
margin-right:10px;
}
.aligncenter {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.alignright {
float: right;
margin-left:10px;
}
.key_words {
    font-weight: bold;
}
.video_box {
    width: 100%;
    height: 130px;
    margin-top: 15px;
}






.disable {
    display: none;
}
.text_hide {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

/*---------------accordeon--------------*/

.acc_box {
    overflow: hidden;
    margin: 25px 0;
}

.acc_head {
    margin: 5px 0;
}
.acc_list {
    display: none;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.acc_list li {
}
.accordeon h3, .acc_list a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 0 5px 0;
    text-align: center;
    text-transform: none;
    display: inline-block;
}
.accordeon h3:hover, .acc_list a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*--------------acc end--------------------*/
.money_conteiner {
    overflow: hidden;
}
.money_icon {
    width: 20%;
    float: left;
    margin-top: 11%;
}
.money_text {
    width: 80%;
    float: right;
}
.size-medium, .alignleft, .alignright {
    margin: 15px;
}

.pay_icons {
    margin: 20px 0;
}
.pay_icons>div {
    padding-top: 120px;
    position: relative;
    text-align: center;
    margin: 10px 0 15px 0;
}
.pay_icons>div:nth-child(1):before {
    position: absolute;
    content: "";
    background: url(images/sprite_pay.png) no-repeat;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
    background-position: 0px 0px;
}
.pay_icons>div:nth-child(2):before {
    position: absolute;
    content: "";
    background: url(images/sprite_pay.png) no-repeat;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
    background-position: -110px 0px;
}
.pay_icons>div:nth-child(3):before {
    position: absolute;
    content: "";
    background: url(images/sprite_pay.png) no-repeat;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
    background-position: -221px 0px;
}
.pay_icons>div:nth-child(4):before {
    position: absolute;
    content: "";
    background: url(images/sprite_pay.png) no-repeat;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
    background-position: -332px 0px;
}

.pw_main_pictures {
    overflow: hidden;
}


/*-------------------------comments------------------------------*/
.comments_holder .new_recall_button {
      display: block;
      width: 140px;
      height: 30px;
      background: #95C400;
      color: #fff;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      border: none;
      float: left;
      -webkit-transition: all .3s;
      transition: all .3s; }
.comments_holder .new_recall_button:hover {
        box-shadow: 3px 3px 11px -5px #000;
        text-decoration: none;
        color: #fff; }
.comments_holder .comment-respond {
    display: none;
}
.comment-reply-title {
    display: none;
}
.comments_holder .commentlist {
    list-style-type: none;
}
.comments_holder .commentlist li {
    margin: 25px 0;
}
.comments_holder .comment-author {
    color: #a0a0a0;
}
.comments_holder .comment-author .fn {
    color: #000;
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 16px;
}
.comments_holder p {
    text-align: justify;
}
.comments-caption {
    font-size: 13px;
    color: #a0a0a0;
}
.comments_holder .comment-notes {
    text-align: center;
}
.comments_holder .pagination {
    text-indent: 0;
}


/*-------------------------------------------------------------------------*/
/*new item style*/
.product_box {
  overflow: hidden; }
  .product_box .product_item {
    position: relative;
    float: left;
    margin: 15px;
    /*width: 96%;*/
    border: 1px solid #DCDCDC;
}
    .product_box .product_item .product_text_info {
        border-bottom: 1px solid transparent;
        padding-bottom: 15px;
        overflow: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .product_box .product_item .product_img {
      cursor: -webkit-zoom-in;
      max-width: 250px;
      cursor: zoom-in; }
    .product_box .product_item .product_title {
        color: #000;
        font-size: 15px;
    }
    .product_box .product_item .order_button {
        display: inline-block;
    }
    .product_box .product_item .product_numb {
        color: #a3a3a3;
        font-size: 13px;
        line-height: 32px;
    }
  .product_box .mosaicflow__column {
    float: left; }
    .product_box .mosaicflow__item {
      position: relative;
      overflow: hidden;
      -webkit-transition: box-shadow .3s;
      transition: box-shadow .3s; }
      .product_box .mosaicflow__item:hover .product_text_info {
        border-bottom: 1px solid #95C400;
      }
      .product_box .mosaicflow__item:hover {
        box-shadow: 0px 3px 13px -5px #466C41;
        border-bottom-color: #95C400;
}
      .product_box .mosaicflow__item img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s; }





/*new order page*/
.order_page {
  overflow: hidden; }
  .order_page ul, .order_page ol {
    text-indent: 0;
    text-align: left;
  }
  .order_page input[type="radio"], .order_page input[type="checkbox"] {
    display: none; }
  .order_page li {
    list-style-type: none; }
    .order_page li label {
      position: relative;
      color: #777;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .order_page li label:after {
        content: "";
        position: absolute;
        left: -13px;
        top: 35%;
        width: 10px;
        height: 10px;
        border: 2px solid #444444;
        border-radius: 50%;
        top: 25%; }
    .order_page li input:checked + label {
      color: #95C400; }
    .order_page li input:checked + label:after {
      background: #95C400;
      border-color: #95C400; }
  .order_page .prod_img_holder .img_box img {
    width: 100%;
    height: auto; }
  .order_page .prod_img_holder .img_options {
    margin-top: 20px; }
    .order_page .prod_img_holder .img_options ul {
      text-align: center; }
      .order_page .prod_img_holder .img_options ul li {
        display: inline-block;
        margin-right: 25px; }
        .order_page .prod_img_holder .img_options ul li label {
          position: relative;
          color: #777;
          cursor: pointer; }
          .order_page .prod_img_holder .img_options ul li label:after {
            content: "";
            position: absolute;
            left: -13px;
            top: 35%;
            width: 10px;
            height: 10px;
            border: 2px solid #444444;
            border-radius: 50%;
            top: 25%; }
        .order_page .prod_img_holder .img_options ul li input:checked + label {
          color: #95C400; }
        .order_page .prod_img_holder .img_options ul li input:checked + label:after {
          background: #95C400;
          border-color: #95C400; }
  .order_page h4 {
    text-transform: uppercase; }
  .order_page .wp_options {
    background: #f9faf3;
    padding-right: 0;
    padding-top: 10px; }
    .order_page .wp_options div[class^="col"] {
      padding-right: 0px; }
    .order_page .wp_options ul {
      padding: 0 0 0 15px; }
    .order_page .wp_options #itemH, .order_page .wp_options #itemW {
      width: 50px;
      padding: 2px 3px;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      margin-left: 10px;
      margin-bottom: 5px;
      color: #FF7E00;
      border: 1px solid #FF7E00;
      -webkit-transition: border .3s;
      transition: border .3s; }
      .order_page .wp_options #itemH:focus, .order_page .wp_options #itemW:focus {
        border: 1px solid #95C400; }
    .order_page .wp_options .wp_mat_type {
      text-align: center;
      margin-bottom: 30px; }
      .order_page .wp_options .wp_mat_type li {
        display: inline-block;
        position: relative;
        margin-right: 27px; }
        .order_page .wp_options .wp_mat_type li:last-child {
          margin-right: 0; }
        .order_page .wp_options .wp_mat_type li span {
          position: absolute;
          bottom: -10px;
          left: 0;
          font-size: 11px;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          white-space: nowrap; }
    .order_page .wp_options label[for="price"] {
      text-transform: uppercase; }
    .order_page .wp_options #price {
      width: 70px;
      color: #FF7E00;
      margin-left: 15px;
      border: 2px solid #FF7E00;
      text-align: center;
      font-size: 18px;
      cursor: default;
      font-weight: bold;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .order_page .wp_options #flizelin_holder, .order_page .wp_options #vinil_holder {
      display: none; }
  .form-horizontal {
    background: #f9faf3;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 10px; }
    .form-horizontal input, .form-horizontal textarea {
      border: 1px solid #DCDCDC;
      -webkit-transition: border .3s;
      transition: border .3s;
      border-radius: 0;
      box-shadow: none; }
      .form-horizontal input:focus, .form-horizontal textarea:focus {
        border: 1px solid #95C400; }
    .form-horizontal textarea {
      resize: vertical; }
    .form-horizontal button {
      border: none; }
    .button, #go_to_galery {
      display: block;
      width: 140px;
      height: 30px;
      background: #FF7E00;
      color: #fff;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      border: none;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .button:hover, #go_to_galery:hover {
        box-shadow: 3px 3px 11px -5px #000;
        text-decoration: none;
        color: #fff; }
    .button:focus, #go_to_galery:focus, .button:visited, #go_to_galery:visited {
        color: #fff;
        text-decoration: none;
    }
    #go_to_galery {
        text-indent: 0;
        width: 180px;
    }

.greyscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.sepia {
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);}

.flip {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);}
/*------------------------------------ crop box style --------------------------*/
.main-image {
  position: relative; }

.main-image-holder {
  position: relative; }

.image_cutter {
  max-width: 100%; }

.main-image #selected-image {
  display: block;
  width: 100%; }

.texture-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.custom .jcrop-handle {
  border-color: black;
  background-color: #C7BB00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.imgareaselect-border1 {
  background: url("img/crop/Jcrop.gif") repeat-y left top; }

.imgareaselect-border2 {
  background: url("img/crop/Jcrop_1.gif") repeat-x left top; }

.imgareaselect-border3 {
  background: url("img/crop/Jcrop_2.gif") repeat-y right top; }

.imgareaselect-border4 {
  background: url("img/crop/Jcrop_3.gif") repeat-x left bottom; }

.imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
  filter: alpha(opacity=50);
  opacity: 0.5; }

.imgareaselect-handle {
  background-color: #fff;
  border: solid 1px #000;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.imgareaselect-outer {
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5; }

/*crop end*/





.carousel-indicators .active {
    background-color: #95C400;
}

.pw_main_const_holder {
    float: left;
    width: 67%;
}

/*new right(left) sidebar*/
.right_sidebar_holder {
    margin-top: 15px;
}
.right_sidebar_info li a {
    font-size: 15px;
    color: #626262;
    display: block;
    padding: 20px 0 20px 50px;
    border-bottom: 1px solid #DCDCDC;
    position: relative;
    text-align: left;
}
.right_sidebar_info li a:hover {
    color: #95C400;
    text-decoration: none;
    border-color: #95C400;
}
.right_sidebar_info li:nth-child(1) a:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    background: url(images/sprite_icon.png) no-repeat;
    background-position: 0px 0px;
    top: 50%;
    left: 0px;
    margin-top: -17px;
}
.right_sidebar_info li:nth-child(1):hover a:before {
    background-position: 0px -36px;
}

.right_sidebar_info li:nth-child(2) a:before {
    content: "";
    position: absolute;
    width: 31px;
    height: 34px;
    background: url(images/sprite_icon.png) no-repeat;
    background-position: -36px 0px;
    top: 50%;
    left: 0px;
    margin-top: -17px;
}
.right_sidebar_info li:nth-child(2):hover a:before {
    background-position: -36px -36px;
}

.right_sidebar_info li:nth-child(3) a:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 31px;
    background: url(images/sprite_icon.png) no-repeat;
    background-position: -68px 0px;
    top: 50%;
    left: 0px;
    margin-top: -15px;
}
.right_sidebar_info li:nth-child(3):hover a:before {
    background-position: -68px -39px;
}

.right_sidebar_info li:nth-child(4) a:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(images/sprite_icon.png) no-repeat;
    background-position: -99px 0px;
    top: 50%;
    left: 0px;
    margin-top: -15px;
}
.right_sidebar_info li:nth-child(4):hover a:before {
    background-position: -99px -40px;
}

.right_sidebar_info li:nth-child(5) a:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(images/sprite_icon.png) no-repeat;
    background-position: -130px 0px;
    top: 50%;
    left: 0px;
    margin-top: -15px;
}
.right_sidebar_info li:nth-child(5):hover a:before {
    background-position: -130px -40px;
}



/*new pagination*/
.pagination .screen-reader-text {
  display: none; }

.pagination a, .pagination span {
  background-color: transparent;
  border: 1px solid transparent;
  color: #95C400;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none; }

.pagination a:hover {
  background-color: transparent;
  border: 1px solid #95C400;
}

.pagination .current {
  background-color: transparent;
  border: 1px solid #95C400;
  color: #95C400;
  cursor: default;
  z-index: 3; }


  /*new header*/
header {
    font-size: 15px;
    padding-top: 10px;
    color: #C6C6C6;
    margin-bottom: 10px;
}
.block_hours, .phone_top span, .phone_top ul {
/*    line-height: 35px;*/
}
header .social_top {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header .social_top li {
    float: left;
    margin: 0 5px;
}
header .social_top li a {
    color: #C6C6C6;
    font-size: 25px;
}
header .social_top li a:hover {
    color: #95C400;
}
header .phone_top {
    overflow: hidden;
}
header .phone_top span {
    float: left;
}
header .phone_top span i {

}
header .phone_top ul {
    float: left;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header .phone_top ul li {
    margin: 0 5px;
}
header .phone_top ul li a {
    color: #1d1d1d;
    font-size: 16px;
}
header .phone_top .button_call_back {
    float: right;
    background: #FF7E00;
    color: #fff;
    padding: 5px 8px;
    border: none;
}
header .phone_top .button_call_back i {
    margin-right: 5px;
}


.box_icon_set {
    margin: 20px 0;
    font-size: 18px;
    border-bottom: 1px solid #DCDCDC;
    overflow: hidden;
    padding-bottom: 20px;
}
.box_icon_set a {
    display: block;
    padding-top: 126px;
    position: relative;
}
.box_icon_set a:nth-child(1):before {
    background: url(images/sprite_2.png) no-repeat;
    background-position: 0 0;
    content: "";
    position: absolute;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
}
.box_icon_set a:nth-child(2):before {
    background: url(images/sprite_2.png) no-repeat;
    background-position: -111px 0;
    content: "";
    position: absolute;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
}
.box_icon_set a:nth-child(3):before {
    background: url(images/sprite_2.png) no-repeat;
    background-position: -223px 0;
    content: "";
    position: absolute;
    width: 106px;
    height: 106px;
    top: 0;
    left: 50%;
    margin-left: -53px;
}

/*new sec cat style*/
.sec_cat_holder ul {
  padding-left: 20px;
  margin: 20px 0;
  list-style-position: inline;
  overflow: hidden;
  list-style-type: none;}
  .sec_cat_holder ul li {
    display: inline-block;
    font-size: 16px;
    float: left;
    position: relative; }
/*    .sec_cat_holder ul li a:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      border: 2px solid #444444;
      margin-top: -5px;
      border-radius: 50%; }*/
    .sec_cat_holder ul li a:hover, .sec_cat_holder ul li a:hover {
      text-decoration: none;
      box-shadow: 3px 3px 11px -5px #000;}
    .sec_cat_holder ul li a {
      position: relative;
      padding: 3px 13px;
      margin-right: 15px;
      background: #FF7E00;
      border: 1px solid transparent;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      color: #fff; }
  .sec_cat_holder ul .current-cat a {
        font-weight: bold;
        background: #fff;
        color: #FF7E00;
        border: 1px solid #FF7E00;
    }
  .sec_cat_holder ul .cat-item-none {
    display: none; }

/*description for category*/

.page_description {
    overflow: hidden;
    margin: 10px 0 25px 0;
}
.page_description .cat_image {
    max-width: 100%;
}



/*new page news*/

.news_item_holder {
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom: 1px solid #EFEFEF; }
  .news_item_holder .news_text h3 {
    text-indent: 20px; }
  .news_item_holder .news_img_prev {
    overflow: hidden; }
    .news_item_holder .news_img_prev img {
      width: 100%;
      height: auto; }
  .news_item_holder span {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold; }


.scroll_top {
  position: fixed;
  right: 2%;
  bottom: 3%;
  font-size: 32px;
  color: #C4C4C4;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  z-index: 999; }
  .scroll_top:focus {
    color: #C4C4C4;
  }
  .scroll_top:hover {
    color: #FF7E00;
    -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
            transform: scale(1.6); }


.popup_parent, .popup_parent_call_back {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.2);
  display: none; }
  .popup_parent .popup_window, .popup_parent_call_back .popup_window_call_back {
    background: #fff;
    border: 2px solid #95C400;
    top: 0;
    left: 50%;
    width: 500px;
    margin: 17% 0 0 -250px;
    position: absolute;
    height: 80px; }
    .popup_parent .popup_window .popup_close, .popup_parent_call_back .popup_window_call_back .popup_close_call_back {
      position: absolute;
      right: -20px;
      top: -27px;
      font-size: 25px;
      cursor: pointer;
      color: #95C400;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
      .popup_parent .popup_window .popup_close:hover, .popup_parent_call_back .popup_window_call_back .popup_close_call_back:hover {
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg); }
  .popup_parent img {
    top: 0;
    left: 50%;
    width: 120px;
    margin: 10% 0 0 -60px;
    position: absolute; }




.contacts_page h4 {
  margin-top: 20px; }

.contacts_page img {
  width: 100%; }
.contacts_page ul {
    text-indent: 0;
}
.contacts_page .our_contacts ul {
  list-style-type: none;
  color: #008aff;
  padding: 0;
  margin: 0; }
  .contacts_page .our_contacts ul li {
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative; }
    .contacts_page .our_contacts ul li i {
      margin-right: 10px;
      color: #008aff;
      position: absolute;
      left: 0px;
      top: 26%;
      line-height: 11px;
      -webkit-transition: color .3s;
      transition: color .3s; }
    .contacts_page .our_contacts ul li a {
      color: #008aff; }
      .contacts_page .our_contacts ul li a:hover {
        text-decoration: underline;}

.open_catalog {
    position: absolute;
    right: 24px;
    line-height: 27px;
    color: #FF7E00;
    border: 1px solid #FF7E00;
    cursor: pointer;
    top: 5px;
    padding: 0 10px;
    z-index: 9999;
}
nav {
    position: relative;
}
.sec_cat_holder ul {
    text-indent: 0;
    padding-bottom: 5px;
}
.sec_cat_holder ul li {
    margin: 5px;
}
.green_color {
    color: #95C400;
    border-color: #95C400;
}
.uppercase {
    text-transform: uppercase;
}

.site_holder {
    overflow: hidden;
}
.site_holder .title_site {
    font-size: 18px;
    text-transform: uppercase;
    color: #161616;
    margin-top: 10px;
}
.site_holder .wrap_site {
    position: relative;
    overflow: hidden;
    margin: 5px 0;
}
.site_holder a {
    position: absolute;
    width: 170px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #DCDCDC;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -85px;
    text-align: center;
    z-index: 999;
    color: #DCDCDC;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.site_holder img {
    width: 100%;
    height: auto;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.site_holder .img_wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.site_holder .wrap_site:hover a {
    color: #fff;
    border-color: #fff;
    background: #95C400;
}
.site_holder .wrap_site:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.site_holder .wrap_site:hover .img_wrap:after {
    background: rgba(0,0,0,0);
}

.popup_parent_call_back .popup_window_call_back {
    height: auto;
}
  #call_back {
    margin: 15px auto;
    height: 35px;
    width: 270px;
    background: #fff;
    border: none}
    #call_back input {
      border: 1px solid #DCDCDC;
      background: #fff;
      border-right: none;
      height: 100%;
      width: 170px;
      padding-left: 10px;
      float: left;
      color: #000; }
    #call_back button {
      border: none;
      background: #FF7E00;
      height: 100%;
      width: 97px;
      color: #fff;
      text-transform: uppercase; }

.category_descr_holder {
    color: #000;
}

.last_comments_holder {
    margin: 30px 0;
}
.last_comments_holder p {
    text-indent: 0;
}
.last_comments_holder .author_name {
    color: #a3c306;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.last_comments_holder .author_name:after {
    position: absolute;
    content: "";
    width: 40px;
    left: 50%;
    margin-left: -20px;
    bottom: 0px;
    height: 2px;
    background: #dcdcdc;
}
.last_comments_holder .carousel-caption {
    position: relative;
    color: #626262;
    text-shadow: none;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 10px 20px;
}
.last_comments_holder .carousel-control.left, .last_comments_holder .carousel-control.right {
    background: none;
    color: #626262;
    text-shadow: none;
}
.our_phone {
    text-indent: 0 !important;
    list-style-type: none;
    padding: 0;
    margin: 0 0 25px 0;
    text-align: center;
}
.our_phone i {
    margin-top: 20px;
    color: #DCDCDC;
}
.no_indent {
    text-indent: 0;
}
.no_indent p {
    text-indent: 0;
}
.lb-details .button {
    float: right;
}

.all_category_box, .all_category_box .mosaicflow {
    overflow: hidden;
}
.all_category_box .mosaicflow a {
    position: relative;
    display: block;
    max-width: 270px;
}
.all_category_box .mosaicflow a span {
    position: absolute;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    border: 1px solid #fff;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,.5);
    text-indent: 20px;
    font-weight: bold;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 10;
    border-right: none;
    border-left: none;
}
.all_category_box .mosaicflow a img {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 2;
    height: auto;
}
.all_category_box .mosaicflow a:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.all_category_box .mosaicflow a:hover span {
    background: rgba(0,0,0,.7);
    border-color: #95C400;
    color: #95C400;
}
.all_category_link {
    width: 180px;
    margin: 20px auto;
}

/*
=================================================
Форма отправки изображения
=================================================
*/

.send-image-form {
    margin-bottom: 30px;
}

.upload-form-group {
    border: 1px solid #dcdcdc;
    text-align: center;
}

.drop-zone {
    margin-bottom: 10px;
}

.upload-form-group {
    font-size: 1.8rem;
    line-height: normal;
    position: relative;
}

.drop-text {
    padding: 50px 35px;
}

.message {
    font-weight: bold;
}

.message-error {
    color: red;
}

.send-image-form .button {
    width: 70%;
    height: auto;
    margin: 0 auto 10px;
    padding: 3px;
}

.send-image-form .button-upload {
    text-transform: none;
}

.button .fa {
    margin-right: 5px;
}

.upload-form-group input[type=file] {
    position: absolute;
    bottom: 20px;
    opacity: 0;
    /* For IE8 "Keep the IE opacity settings in this order for max compatibility" */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* For IE5 - 7 */
    filter: alpha(opacity=0);
    z-index: -1;
}

.text-input {
    width: 100%;
    padding: 5px;
}

/*
======================================================================
Меню Города
======================================================================
*/

.button-cities {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-goroda-container {
    display: none;
}